@font-face {
  font-family: "San Francisco";
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: font-face, sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, ui-sans-serif;
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, ui-sans-serif,
  //   "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  //   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

code {
  font-family: font-face monospace;
}

svg:hover {
  cursor: pointer;
}

svg:active {
  fill: #424242;
  color: #424242;
  transition: fill 0.2s ease-in-out;
}

img {
  width: 30%;
}
